<mat-toolbar class="mat-elevation-z6" color="primary">
    <button (click)="menuOpened = !menuOpened" mat-icon-button>
        <mat-icon> {{ menuOpened ? 'chevron_left' : 'menu' }} </mat-icon>
      </button>
    <span class="p-l-8">POSTERR</span>
    <div class="w-100 horizontal-end vertical-center">
        <div class="p-r-8">
            <button (click)="search()"mat-icon-button>
                <mat-icon> search </mat-icon>
            </button>
        </div>
        <div *ngIf="!(deviceService.isMobile$ | async)" class="username-fs">{{ username }}</div>
    </div>
</mat-toolbar>

<mat-sidenav-container [ngClass]="{'sidenav-height': !(deviceService.isMobile$ | async), 'sidenav-height-mobile': (deviceService.isMobile$ | async)}">
    <mat-sidenav (openedChange)="menuOpened = $event"
                 [opened]="menuOpened"
                 [mode]="(deviceService.isMobile$ | async) ? 'over' : 'side'"
                 [ngClass]="{'p-t-16': true, 'p-l-16' : true, 'sidenav-color': true, 'w-20': !(deviceService.isMobile$ | async), 'w-80': (deviceService.isMobile$ | async)}">
        <div i18n="@@account-info-title">
            Account info
        </div>
        <div class="p-t-16 vertical-center">
            <mat-icon class="p-r-8"> account_circle </mat-icon>
            {{ username }}
        </div>
        <div class="p-t-40 p-b-16" i18n="@@data-settings-title">
            Data settings
        </div>
        <div class="w-100 p-t-16 horizontal-center">
            <div class="w-80">
                <div class="p-b-16">
                    <button (click)="cleanAndMockData()" class="w-100 cls-btn-data" mat-raised-button>Delete and mock data up</button>
                </div>
                <div>
                    <button (click)="cleanData()" class="w-100 cls-btn-data" mat-raised-button>Delete stored data</button>
                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content #scrollContent>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>