@import "src/styles.scss";

.mat-toolbar {
    position: relative;
}

.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
}

.toolbar-shadow {
    position: relative;
}

.mat-toolbar {
    z-index: 2 !important;
}

.sidenav-height {
    height: calc(100% - 64px);
}

.sidenav-height-mobile {
    height: calc(100% - 56px);
}

.sidenav-color {
    background-color: $primary;
    color: $light-primary-text;
}

.username-fs {
    font-size: 14px;
}