@use '@angular/material' as mat;
@import "src/styles.scss";

.follow-btn-cls {
    background-color: mat.get-color-from-palette($posterr-palette-primary, 100);
    color: mat.get-contrast-color-from-palette($posterr-palette-primary, 100);
}

.post-btn-cls {
    background-color: mat.get-color-from-palette($posterr-palette-primary, 10);
    color: mat.get-contrast-color-from-palette($posterr-palette-primary, 10);
}

.user-circle {
    background-color: mat.get-color-from-palette($posterr-palette-primary, 100);
    color: mat.get-contrast-color-from-palette($posterr-palette-primary, 100);
    border-radius: 50%;
}

.user-circle-w {
    font-size: 40px;
    height: 72px;
    width:72px;
}

.user-circle-m {
    font-size: 24px;
    height: 58px;
    width: 58px;
}

.fs-username {
    font-size: 22px;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.text-center{
    text-align: center;
}

.number-cls-w {
    font-size: 32px;
}

.number-cls-m {
    font-size: 22px;
}

.nowrap {
    white-space: nowrap;
}

.bkg-header {
    background-color: mat.get-color-from-palette($posterr-palette-primary, 5) !important;
}

.width-post-w {
    width: 50%;
    min-width: 750px;
}

.close-btn {
    position: absolute;
    right: 0px;
}