@use '@angular/material' as mat;
@import "src/styles.scss";

.post-width-web {
    width: 40%;
    min-width: 750px;
}

.toggle-color {
    background-color: mat.get-color-from-palette($posterr-palette-primary, 100);
    color: mat.get-contrast-color-from-palette($posterr-palette-primary, 100);
}

.bkg-header {
    background-color: mat.get-color-from-palette($posterr-palette-primary, 10);
}

.toggle-all ::ng-deep .mat-button-toggle-checked {
    background-color: mat.get-color-from-palette($posterr-palette-primary, 25);
}

.cls-toggle-div {
    position: sticky;
    top: 0;
    right: 0;
}

.align-div {
    margin-top: -85px;
}

::ng-deep .error-post {
    margin-top: 70px !important;
    background-color: $error;
    color: $light-primary-text
}