@use '@angular/material' as mat;
@import "src/styles.scss";

.post-width-web {
    width: 40%;
    min-width: 750px;
}

.toggle-color {
    background-color: mat.get-color-from-palette($posterr-palette-primary, 100);
    color: mat.get-contrast-color-from-palette($posterr-palette-primary, 100);
}

.bkg-header {
    background-color: mat.get-color-from-palette($posterr-palette-primary, 10);
}

.toggle-all ::ng-deep .mat-button-toggle-checked {
    background-color: mat.get-color-from-palette($posterr-palette-primary, 25);
}

.cls-toggle-div {
    position: sticky;
    top: 0;
    right: 0;
    background-color: mat.get-color-from-palette($posterr-palette-primary, 10);
}

.cls-toggle-div-m {
    top: 80px !important;
    z-index: 1;
}

.align-div {
    margin-top: -85px;
}

.post-width-m {
    padding-left: 12px;
    padding-right: 12px;
}

.cls-toggle-div-m  ::ng-deep .mat-button-toggle-label-content {
    padding-top: unset !important;
    padding-bottom: unset !important;
    height: 25px !important;  
    align-items: center !important;
    display: flex !important;
    padding-left: 16px;
    padding-right: 16px;
}


