<mat-form-field class="w-100 form-field-post" appearance="outline">
    <textarea [formControl]="form" [maxlength]="maxLength" [rows]="rows" matInput [placeholder]="isRepost ? 'Leave your comment' : 'What\'s happening?'"></textarea>
</mat-form-field>
<div *ngIf="isRepost || form.value.length" class="p-l-8 p-r-8 p-b-16">
    <div class="nowrap cls-count">
        {{ form.value.length }} / {{ maxLength }}
    </div>
    <ng-content></ng-content>
    <div class="w-100 horizontal-end">
        <button (click)="createPost()" [disabled]="!form.value" class="post-btn-cls" mat-raised-button>{{ isRepost ? 'QUOTE POST' : 'POST' }} </button>
    </div>
</div>