@use '@angular/material' as mat;
@import "src/styles.scss";

.border-text-area {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: mat.get-color-from-palette($posterr-palette-primary, 50);
}

.nowrap {
    white-space: nowrap;
}

.cls-count {
    color: mat.get-color-from-palette($posterr-palette-primary, 100);
    font-size: 12px;
}

.post-btn-cls {
    background-color: mat.get-color-from-palette($posterr-palette-primary, 100);
    color: mat.get-contrast-color-from-palette($posterr-palette-primary, 100);
}

.form-field-post ::ng-deep .mat-form-field-wrapper {
    padding-bottom: unset;
}